<% if (locals.error) { %>
<div class="notification is-danger is-light">
  <button class="delete"></button>
  <%= error %>
</div>
<% } %>
<div class="container is-maxheight">
  <section class="section is-maxheight is-flex is-flex-direction-column is-justify-content-center">
    <% if (posts.length > 0) { %>
    <h2 class="title is-4">Recent Posts</h2>
    <div class="grid posts is-gap-4">
      <% posts.forEach(post => { %>
      <article class="message is-flex is-flex-direction-column mb-0">
        <div class="message-header">
          <div class="media-content">
            <% if (locals.user) { %>
            <p class="title is-4 p-1"><%= post.user.first_name %> <%= post.user.last_name %></p>
            <p class="subtitle is-6">@<%= post.user.username %> • <time datetime="<%= post.timestamp.toISOString() %>"> <%- include('../partials/post-time', { post: post }) %>
              </time></p>
            <% } else { %>
            <p class="title is-4 p-1">Anonymous</p>
            <p class="subtitle is-6">@someone • <time datetime="<%= post.timestamp.toISOString() %>"> <%- include('../partials/post-time', { post: post }) %>
              </time>
            </p>
            <% } %>
          </div>

          <% if (locals.user && locals.user.is_admin) { %>
          <form action="/posts/<%= post.id %>/delete" method="POST">
            <button class="delete" aria-label="delete" type="submit"></button>
          </form>
          <% } %>

        </div>
        <div class="message-body is-flex-grow-1">
          <%= post.content.length > 350 ? post.content.substring(0, 350) + '...' : post.content %>
        </div>
      </article>
      <% }) %>
    </div>
    <% } else { %>
    <h2 class="title is-2 has-text-centered mb-4">No posts available. (┬┬﹏┬┬)</h2>
    <% } %>
  </section>
</div>