<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>

<body>
  <h1><%= title %></h1>
  <%- include("../partials/errors") %>
  <form action="/sign-up" method="POST">
    <label for="firstName">First Name</label>
    <input id="firstName" name="firstName" placeholder="First Name" type="text" value="<%= formData.firstName %>" />
    <label for="lastName">Last Name</label>
    <input id="lastName" name="lastName" placeholder="Last Name" type="text" value="<%= formData.lastName %>" />
    <label for="username">Username</label>
    <input id="username" name="username" placeholder="Username" type="text" value="<%= formData.username %>" />
    <label for="password">Password</label>
    <input id="password" name="password" placeholder="Password" type="Password" value="<%= formData.password %>" />
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" value="<%= formData.confirmPassword %>" />
    <button type="submit">Sign Up</button>
    <p>Already have an account? <a href="/sign-in">Sign In</a></p>
    <p>Forgot your password? <a href="/forgot-password">Reset Password</a></p>
    <p>Need help? <a href="/help">Help</a></p>
  </form>
</body>

</html>